
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-evenly;
  margin: 30 px 10;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  width: 450px;
  height: 300px;
  overflow: auto;
}

button:hover{
  background-color: blue;
}

button {
  transition: 350ms;
}

footer{
  height: 150px;
  background-color: grey;
}